{erl_opts, [debug_info]}.
{deps, [
    {atomvm_m5, {git, "https://github.com/pguyot/atomvm_m5.git", {branch, "main"}}},
    {atomvm_ulp, {git, "https://github.com/pguyot/atomvm_ulp.git", {branch, "main"}}}
]}.
{plugins, [
    rebar3_path_deps,
    {atomvm_rebar3_plugin, {git, "https://github.com/atomvm/atomvm_rebar3_plugin.git", {branch, "master"}}}
]}.
